
.html {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

main {
    display: flex;
    gap: 20px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

#weatherList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.dayWeatherCard {
    flex-direction: column;
    justify-content: center;
    width: 350px;
    border: black 2px solid;
    padding: 10px;
    margin: 5px;
}

.dayWeatherCard, img{
    width: 150px;
}

